Hi
<%= @user.short_name %>,
<div class="new_course_container">
  <% if @controller.student_only? @sfuid %>
      <%= render :partial => 'error' %>
  <% else  %>
      <%= render :partial => 'form' %>
  <% end %>
</div>
